
:root{
  --main-color:#deab5f;
  --primary-color:#312e2e;
}

button{
  padding: 10px 30px;
  background: var(--main-color);
  cursor: pointer;
  border: none;
}

*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #100e0f;
  font-family: 'Playfair Display', serif;
  color: white;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: sans-serif;
  padding-top: 15px;
}

li{
  display: inline;
  list-style: none;
}

li a{
  color: white;
  text-decoration: none;
  margin-left: 30px;
  padding-bottom: 8px;
}

li a:hover{
  border-bottom: 2px solid var(--main-color);
}

.header{
  background-image: url(pexels-nao-triponez-129207.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.main-heading{

  position: absolute;
   top: 7rem;
   font-size: 4rem;
   word-spacing: 10px;
}

.primary-heading{
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}

.main-btn{
  position: absolute;
  bottom: 1rem;
  padding: 10px 30px;
  margin:20px;
  background: transparent;
  background: var(--main-color);
  transform: translateY( 60px);
}

 #our-story{
  height: 100vh;
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }

 .img{
  width: 400px;
  height: 400px;
  background: url(pexels-chitokan-2183027-removebg-preview.png);
  background-position: center;
  background-size: cover;
 }

 .title-style{
  display: flex;
  align-items: center;

 }

 .title{
  font-size: 4rem;
  color: white;
  transform: translateX(-100px);
 }

 .line{
  width: 100px;
  height: 2px;
  background: white;
  transform: translateX(-120px);
 }
 .section-content p{
  max-width: 500px;
  color: white;
  line-height: 20px;
  margin: 20px;
 }

.coffee-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  margin-bottom: 10rem;
  justify-content: space-around;
  align-items: center;

}

.content-section p{
  max-width: 500px;
  margin-top: 20px;
}

.img-2{
   width: 400px;
   height: 400px ;
}

.title-two{
  font-size: 3rem;
  color: white;
}

.content-section button{
  margin-top: 20px;
}

.products{
  margin-top: 5rem;
}

.title-three{
  font-size: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 10rem;
}
.cards{
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.card{
  border: 2px solid var(--main-color);
  padding: 0px 20px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin-bottom: 4rem;
}
.card-img{
  width: 100px;
  height: 100px;
  position: absolute;
   top: -60px;
   
}

.img-one{
  background: url(1.png);
  background-position: center;
  background-size:cover;
}
.img-two{
  background: url(2.png);
  background-position: center;
  background-size:cover;
}
.img-three{
  background: url(3.png);
  background-position: center;
  background-size:cover;
}

.card-title{
  font-family: sans-serif;
  margin-top: 50px;
}

.card .items p{
  margin: 20px 0px;
}